.ticket {
    display: grid;
    background-image: url("ticketstub.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self: center;
    height: 40vw;
    max-height: 435px;
    width: 92vw;
    max-width: 1000px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    position: relative;
    box-shadow: 12px 8px 10px #000a00;
    z-index: 500;
}

.ticketText {
    color:#000a00;
    position: relative;
    text-align: left;
    left: 8%;
    top: 15%;
    font-size: min(4vw, 40px);
}

.ticketTextTitle {
    color: #000a00;
    position: relative;
    text-align: left;
    left: 8%;
    top: 15%;
    font-size: min(7vw, 70px);
    max-block-size: 1em;
}


