.bookingMsg {
    /* Box settings containting the text "Bookning Klar" */
    background: #0a1c0a;
    display: grid;
    align-items: center;
    align-self: center;
    padding: 1rem 2rem;
    border: 1px solid #B8860B;
    border-radius: 10px;
    position: relative;
    margin-top: min(2vw, 20px);
    text-align: center;
    top: 0;
    z-index: 500;
    height: 20vw;
    max-height: 145px;
    width: 92vw;
    max-width: 600px;
    /* Color and font settings for the text "Bookning Klar" */
    color: #716738;
    font-size: min(4vw, 25px);
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8), 0 0 15px rgba(184, 134, 11, 0.4);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.ticket {
    /* Container for ticket image and corresponding data: Title, Seat, Time */
    display: grid;
    background-image: url("ticketstubG.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self: center;
    align-items:center;
    height: 40vw;
    max-height: 435px;
    width: 92vw;
    max-width: 1000px;
    margin-bottom: min(1vw, 1px);
    position: relative;
    /* box-shadow: 12px 8px 10px #000a00; */
    z-index: 500;
}

.ticketC {
    /* Container for ticket image and corresponding data: Title, Seat, Time */
    display: grid;
    background-image: url("ticketstubGcut.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-self: center;
    align-items: center;
    height: 40vw;
    max-height: 435px;
    width: 92vw;
    max-width: 1000px;
    margin-bottom: min(1vw, 1px);
    position: relative;
    /* box-shadow: 12px 8px 10px #000a00; */
    z-index: 500;
}

.ticketTextTitle {
    /* Title text for the ticket being rendered on webpage */
    color: #000a00;
    position: relative;
    text-align: left;
    left: 14%;
    top: 30%;
    font-size: min(7vw, 70px);
    max-block-size: 1em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.ticketTextSeat {
    /* Seat info text for the ticket being rendered on webpage */
    color:#000a00;
    position: relative;
    text-align: left;
    left: 14%;
    bottom: 15%;
    font-size: min(4vw, 40px);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.ticketTextTime {
    /* Date and time info text for the ticket being rendered on webpage */
    color: #000a00;
    position: relative;
    text-align: left;
    left: 14%;
    top: 25;
    font-size: min(3vw, 30px);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
